<% @doctor.appointments.each do |appointment| %>
    <h2><%= link_to appointment.patient.name, patient_path(appointment.patient) %></h2>
    <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %>
<% end %>